.empty-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-list-title {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  font-family: var(--secondary-font);
  font-size: 30px;
  color: var(--primary-color);
  padding-bottom: 25px;
}

/* Media Query for Laptop Devices */
@media only screen and (max-width: 1024px) {
  .error-list-image {
    height: 100%;
  }

  .error-list-title {
    font-size: 28px;
  }
}

/* Media Query for Tablets and Smaller Screens */
@media only screen and (max-width: 768px) {
  .error-list-title {
    font-size: 24px;
  }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
  .error-list-image img {
    width: 350px;
  }
  .error-list-title {
    padding-top: 25px;
    font-size: 20px;
  }
}
