.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font);
  gap: 25px;
  margin-right: 50px;
  padding: 20px;
  cursor: pointer;
}

.link-label {
  font-size: 23px;
  color: var(--primary-color);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.link-label.active,
.link-label:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary-color);
}

/* Media Query for Laptop Devices */
@media only screen and (max-width: 1024px) {
  .navigation {
    gap: 15px;
    padding: 15px;
    margin-right: 0;
  }

  .link-label {
    font-size: 18px;
  }
}

/* Media Query for Tablets and Smaller Screens */
@media only screen and (max-width: 768px) {
  .navigation {
    justify-content: start;
    padding: 0 15px 0 0;
  }

  .link-label {
    font-size: 14px;
  }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
  .navigation {
    justify-content: start;
    padding: 0 5px 0 0;
    gap: 10px;
  }

  .link-label {
    font-size: 12px;
  }
}

/* Media Query for Old Mobile Devices */
@media only screen and (max-width: 320px) {
  .navigation {
    gap: 5px;
  }

  .link-label {
    font-size: 11px;
  }
}

/* Media Query for Galaxy Fold Devices */
@media only screen and (max-width: 280px) {
  .link-label {
    font-size: 10px;
  }
}
