#root {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem;
}

.components-and-props-example,
.state-and-lifecycle-example,
.handling-events-example,
.conditional-rendering-example,
.lists-and-keys-example,
.forms-example,
.lifting-state-up-example,
.composition-example,
.inheritance-example,
.keyboard-navigation-example,
.focus-management-example,
.context-example,
.error-boundary-example,
.forwarding-refs-example,
.portals-example,
.profiler-example,
.react-without-es6-example,
.refs-and-dom-example,
.render-props-example,
.typechecking-with-proptypes-example,
.uncontrolled-components-example,
.useState-hook-example,
.useEffect-hook-example,
.useReducer-hook-example,
.useContext-hook-example,
.useCallback-hook-example,
.useMemo-hook-example,
.useRef-hook-example,
.useImperativeHandle-hook-example,
.useLayoutEffect-hook-example,
.useDebugValue-hook-example,
.useDeferredValue-hook-example,
.useTransition-hook-example,
.useId-hook-example {
  border: 1px solid red;
  padding: 1rem;
}

.forms-example {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
