.site-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 40px 0 0;
  border-top: 2px solid var(--primary-color);
}

.copyright {
  padding: 0 0 0 25px;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.link-social {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px 0 0 25px;
}

.link-social-item {
  color: var(--secondary-color);
}

.link-social-item:hover {
  color: var(--primary-color-text);
}

.footer-right {
  display: flex;
  gap: 100px;
  padding: 40px 0 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-column-title {
  font-family: var(--primary-font);
  font-size: 28px;
  text-transform: capitalize;
}

.footer-column-items {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.footer-column-link {
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.footer-column-link:hover {
  color: var(--primary-color-text);
}

/* Media Query for Laptop Devices */
@media only screen and (max-width: 1024px) {
  .footer-right {
    gap: 50px;
    padding: 25px 0 0;
  }

  .footer-column {
    gap: 20px;
  }
}

/* Media Query for Tablets and Smaller Screens */
@media only screen and (max-width: 768px) {
  .footer-column-title {
    font-size: 20px;
  }

  .footer-column-items {
    gap: 10px 0;
  }

  .footer-right {
    gap: 35px;
    padding: 25px 0 0;
  }

  .copyright {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
  .site-footer {
    flex-direction: column-reverse;
  }

  .footer-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .copyright {
    grid-column: 1;
    grid-row: 1;
    padding: 20px 0;
  }

  .link-social {
    padding: 0;
  }
}
