.site-footer-content {
  display: flex;
  border-top: 2px solid var(--primary-color);
  width: 100%;
  justify-content: space-between;
  margin: 40px 0 0;
}

.copyright {
  padding: 0 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.link-social {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px 0 0 25px;
}

.link-social-item {
  color: var(--secondary-color);
}

.link-social-item:hover {
  color: var(--primary-color-text);
}

.footer-right {
  display: flex;
  gap: 50px;
  padding: 20px 0 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-column-title {
  font-family: var(--primary-font);
  font-size: 22px;
  text-transform: capitalize;
}

.footer-column-items {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.footer-column-link {
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}

.footer-column-link:hover {
  color: var(--primary-color-text);
}

/* Media Query for Laptop Devices */
@media only screen and (max-width: 1024px) {
  .site-footer {
    width: auto;
  }

  .footer-left .logo {
    height: unset;
  }

  .footer-right {
    gap: 35px;
    padding: 25px 0 0;
  }

  .footer-column {
    gap: 15px;
  }

  .footer-column-title {
    font-size: 20px;
  }

  .footer-column-link {
    font-size: 16px;
  }

  .copyright {
    font-size: 16px;
  }
}

/* Media Query for Tablets and Smaller Screens */
@media only screen and (max-width: 768px) {
  .site-footer {
    padding: unset;
  }

  .footer-column {
    gap: 15px;
  }

  .footer-column-title {
    font-size: 16px;
  }

  .footer-column-items {
    gap: 5px 0;
  }

  .footer-right {
    gap: 15px;
    padding: 25px 0 0;
  }

  .copyright {
    font-size: 12px;
    letter-spacing: 0;
  }

  .link-social {
    padding: 10px 0 0 25px;
    gap: 15px;
  }

  .footer-column-link {
    font-size: 13px;
  }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
  .site-footer-content {
    display: flex;
    border-top: 2px solid var(--primary-color);
    width: 100%;
    justify-content: space-between;
    margin: 40px 0 0;
    flex-direction: column-reverse;
  }

  .footer-left {
    display: flex;
    align-items: center;
  }

  .footer-left .logo {
    display: none;
  }

  .copyright {
    font-size: 12px;
    padding: 0;
    margin-right: 20px;
  }

  .link-social {
    padding: 0;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  .footer-right {
    justify-content: space-between;
    padding: 20px 0;
    gap: 20px;
  }

  .footer-column {
    gap: 5px;
  }

  .footer-column-title {
    font-size: 14px;
  }

  .footer-column-items {
    gap: 5px;
  }
}

/* Media Query for Old Mobile Devices */
@media only screen and (max-width: 320px) {
  .footer-left {
    padding: 0 10px 0 0;
    justify-content: center;
  }

  .copyright {
    margin: 0;
  }

  .footer-right {
    justify-content: center;
  }
}
