.user-profile-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.logout-action {
  position: absolute;
  top: 0;
  right: -100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  animation: slideRightToLeft 0.8s ease;
}

.user-profile-wrapper:hover .logout-action {
  display: flex;
  right: 0;
}

@keyframes slideRightToLeft {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}

.user-email {
  font-size: 16px;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  color: var(--primary-color);
}

/* Media Query for Tablets and Smaller Screens */
@media only screen and (max-width: 768px) {
  .logout-action {
    overflow: hidden;
    border: none;
    animation: slideRightToLeft 0.3s ease;
  }

  .logout-button {
    font-size: 14px;
    border: 1px solid;
  }

  .user-avatar {
    width: 30px;
    height: 30px;
  }

  .user-email {
    font-size: 14px;
  }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
  .user-email {
    display: none;
  }

  .logout-text {
    display: none;
  }
}

/* Media Query for Old Mobile Devices */
@media only screen and (max-width: 320px) {
}

/* Media Query for Galaxy Fold Devices */
@media only screen and (max-width: 280px) {
}
