.table-row {
  border: 1px solid;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-text-color);
  cursor: pointer;
}

.table-row:not(.highlight):hover {
  background-color: var(--bg-btn-color);
}

.table-row-cell {
  text-align: center;
  padding: 15px;
  vertical-align: middle;
  text-transform: capitalize;
}

.table-controls {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.hide {
  display: none;
}

.highlight {
  background-color: var(--highlight-color);
}

.table-controls .toggle-completion-btn,
.table-controls .edit-btn,
.table-controls .delete-btn {
  padding: 10px;
  border-radius: 50%;
  border: 1.5px solid var(--bg-btn-color) !important;
  background: unset;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.table-controls .toggle-completion-btn {
  color: var(--primary-color);
}

.table-controls .toggle-completion-btn:hover {
  border-color: var(--primary-color) !important;
}

.table-controls.edit-btn {
  color: var(--tertiary-color);
}

.table-controls .edit-btn:hover {
  border-color: var(--tertiary-color) !important;
}

.table-controls .delete-btn {
  color: var(--danger-color);
}

.table-controls .delete-btn:hover {
  border-color: var(--danger-color) !important;
}
