.table-row {
  border: 1px solid;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-text-color);
  cursor: pointer;
}

.table-row:not(.highlight):hover {
  background-color: var(--bg-btn-color);
}

.table-row-cell {
  text-align: center;
  padding: 15px;
  vertical-align: middle;
  text-transform: capitalize;
}

.table-controls {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.hide {
  display: none;
}

.highlight {
  background-color: var(--highlight-color);
}

.table-controls .toggle-completion-btn,
.table-controls .edit-btn,
.table-controls .delete-btn {
  padding: 10px;
  border-radius: 50%;
  border: 1.5px solid var(--bg-btn-color);
  background: unset;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.table-controls .toggle-completion-btn {
  color: var(--primary-color);
}

.table-controls .toggle-completion-btn:hover {
  border-color: var(--primary-color);
}

.table-controls .edit-btn {
  color: var(--tertiary-color);
}

.table-controls .edit-btn:hover {
  border-color: var(--tertiary-color);
}

.table-controls .delete-btn {
  color: var(--danger-color);
}

.table-controls .delete-btn:hover {
  border-color: var(--danger-color);
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .table-row-cell {
    border-bottom: 1px solid var(--bg-btn-color);
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .table-row-cell::before {
    float: left;
    font-family: var(--tertiary-font);
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .table-row-cell:nth-of-type(1):before {
    content: 'ID';
  }
  .table-row-cell:nth-of-type(2):before {
    content: 'Book ID';
  }
  .table-row-cell:nth-of-type(3):before {
    content: 'Member ID';
  }
  .table-row-cell:nth-of-type(4):before {
    content: 'From Date';
  }
  .table-row-cell:nth-of-type(5):before {
    content: 'To Date';
  }
  .table-row-cell:nth-of-type(6):before {
    content: 'Status';
  }
  .table-row-cell:nth-of-type(7):before {
    content: 'Actions';
  }
}
