.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.pagination-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--bg-btn-color);
  margin: 0 5px;
  cursor: pointer;
}

.pagination-item.active {
  background-color: var(--primary-color);
}

.pagination-item-border.active {
  border: 2px solid var(--primary-color);
  padding: 5px 0;
  border-radius: 50%;
}
