.hire-request-section {
  /* border: 2px solid var(--primary-color); */
  border-radius: 10px;
  background-color: #ebeaea;
  padding: 20px;
  margin-top: 50px;
}

.hire-request-title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  margin: 20px 0;
}
